/* Coolors Exported Palette - coolors.co/00a84f-f6f7eb-e94f37-f26430-393e41 */

/* HSL */
$color1: hsla(148%, 100%, 33%, 1);
$color2: hsla(65%, 43%, 95%, 1);
$color3: hsla(8%, 80%, 56%, 1);
$color4: hsla(16%, 88%, 57%, 1);
$color5: hsla(203%, 7%, 24%, 1);

/* RGB */
$color1: rgba(0, 168, 79, 1);
$color2: rgba(246, 247, 235, 1);
$color3: rgba(233, 79, 55, 1);
$color4: rgba(242, 100, 48, 1);
$color5: rgba(57, 62, 65, 1);